.iFrame {
    width: 100%;
    height: 400px;
}

.popUp {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #0E0E0E;
    align-items: center;
    max-width: calc(100% - 241px);
}

.span {
    padding: 8px;
    font-size: 32px;
    color: #FF5F5F;
    font-weight: bold;
    font-family: Inter;
}

.button {
    padding: 8px;
    border: 1px #464646 solid;
    background-color: #fff;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

@media (max-width: 768px) {
    .popUp {
        max-width: 100%;
    }
}


.container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 50px;

    .boxesWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;

        .grayBox {
            width: 200px;
            height: 182px;
            background: #D9D9D9;
            flex-shrink: 0;
        }
    }

    .descriptionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;

        .vidoeContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            width: 100%;

            h1 {
                color: var(--PrimaryCollor, #FF5F5F);
                font-family: Inter;
                font-size: 104px;
                font-style: normal;
                font-weight: 700;
            }

            .videoBox {
                width: 100%;
                height: 300px;
                background-color: #D9D9D9;
            }
        }

        .infoBoxes {
            display: flex;
            justify-content: space-between;
            padding: 0 48px;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
            gap: 48px;

            .infoBox {
                display: flex;
                align-items: center;
                gap: 20px;

                .technologyBox {
                    position: relative;
                    width: 192px;
                    height: 156px;
                    flex-shrink: 0;
                }

                .technologyDescription {
                    position: relative;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0.18px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 16px 16px 100px 16px;

        .boxesWrapper {
            justify-content: center;

            .grayBox {
                width: 135px;
                height: 124px;
            }
        }

        .descriptionContainer {

            .vidoeContainer {

                h1 {
                    color: var(--PrimaryCollor, #FF5F5F);
                    font-family: Inter;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: 5px;
                }

                .videoBox {
                    display: none;
                }
            }

            .infoBoxes {
                padding: 0;
                justify-content: center;

                .infoBox {

                    .technologyBox {
                        width: 150px;
                        height: 120px;
                    }

                    .technologyDescription {
                        color: #FFF;
                        font-family: "Palanquin Dark";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0.18px;
                    }
                }
            }
        }
    }
}