.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .bannerWrapper {
      width: 100%;
      height: auto;
      color: #5ea267;

      .banner {
        object-fit: cover;
        position: relative;
        width: 100%;
        height: auto;
      }
    }

    .description {
      background-image: url("/backgroung.svg");
      background-repeat: no-repeat;
      background-position: top right;
      max-width: 1200px;
      padding: 0 24px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 100px;

      .issue {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .title {
          color: #fff;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 800;
          line-height: 56px;
          letter-spacing: -0.48px;
        }

        .text {
          color: #fff;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: -0.4px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      .description {
        background-size: 150px 32px;
        padding: 16px;

        .issue {
          .title {
            color: #fff;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            letter-spacing: -0.24px;
          }

          .text {
            color: #fff;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: -0.16px;
          }
        }
        padding-bottom: 100px;
      }

      gap: 0;
    }
  }

  @media (max-width: 400px) {
    .content {
      .bannerWrapper {
        .banner {
          height: 200px;
        }
      }

      .description {
        .issue {
          .title {
            color: #fff;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            letter-spacing: -0.24px;
          }

          .text {
            color: #fff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: -0.16px;
          }
        }
      }
    }
  }
}
